.DS_Store
*.user
*.bak
*.a
*.lib
*.log
*.opensdf
*.sdf
*.sln
*.spec
*.suo
*.vcxproj
*.filters
Debug/
docs/html/
docs/latex/
GeneratedFiles/
ipch/
/libs/
Win32/

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*
